# /etc/caddy/Caddyfile

<HOST> {
    redir https://www.<HOST>{uri}
}

app.<HOST> {
        log {
                output file /var/log/caddy/access.log
        }

        root * /var/www/<NAME>/

        # django API
        reverse_proxy /api/* localhost:8000

        # admin API
        reverse_proxy /admin/* localhost:8000

        file_server
}

