<django.host> {
        log {
                output file /var/log/caddy/access.log
        }

        root * /var/www/<github.name>/

        # django API
        reverse_proxy /api/* localhost:8000

        # admin API
        reverse_proxy /admin/* localhost:8000

        file_server
}